html, body, #app, .application, .overallContainer, #app>div {
  height: 100%;
}

body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

input {
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

textarea:focus, input:focus {
  outline: none;
}

h2 {
  margin: 0 0 10px 0;
}

h3, h4 {
  margin: 0;
}

.search-div {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#search-bar {
  display: flex;
  min-height: 86px;
  padding-left: 15px;
  border: 1px solid rgb(200, 200, 200);
}

.search-box {
  width: 300px;
  height: 20px;
  padding-left: 7px;
}

.application {
  display: flex;
  flex-direction: column;
}

.overallContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.mapContainer {
  flex: 4;
  position: relative;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
}

.sign-in-register-btn {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: center;
  background: #51bc6a;
  border-color: #51bc6a;
  margin: 10px 30px 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  overflow-y: auto;
}

.login input {
  width: 100%;
}

.savedjobs {
  overflow-y: auto;
}

.sidebar>div {
  padding: 10px 10px 0 10px;
}

.savedjobs {
  font-size: 80%;
  padding: 0 10px 0 10px;
}

.infowindow {
  width: 400px;
}

.button {
  text-decoration: none;
  color: white;
}

.input-button-div {
  display: flex;
  justify-content: center;
}

.input-button {
  background: #3288c4;
  border-color: #3288c4;
  color: white;
  width: 100%;
  height: 27px;
}

.skylight-dialog {
    width: 50%;
    height: 800px !important;
    position: fixed;
    top: 246px !important;
    left: 50%;
    margin-top: -200px;
    margin-left: -25%;
    border-radius: 2px;
    z-index: 100;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 4px, rgba(0, 0, 0, 0.278431) 0px 4px 8px;
    display: block;
    background-color: rgb(255, 255, 255);
}
